@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.picker {    
    // @include display-wrap;
    button {
        width: initial;
    }
    label {
        align-self: center;
        padding: $space $space $space 0;
        text-align: right;
        width: 12rem;
    }
    input {
        margin: $space 0;
        padding: $space;
    }
    .highlighted {
        background-color: red;
    }
}