@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.picker {
    min-height: 50px;
    @include display-wrap;
    // border: 1px solid $border;
    // padding-right: $space;
    label {
        align-self: center;
        padding: $space $space $space 0;
    }
    input {
        margin: $space 0;
        padding: $space;
    }
    .highlighted {
        background-color: red;
    }
}