@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.picker {
    @include display-wrap;
    border: 1px solid $border;
    label {
        margin-right: $space;
        min-width: 300px;
    }
    input {
        padding: $space;
    }
    .highlighted {
        background-color: red;;
    }
}