@import '../../style/variables.scss';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $block;
	padding: 0;
    background-color: $bg5;
    z-index: 50;
    display: flex;
    justify-content: space-evenly;
    @media (min-width: 415px) {
        justify-content: space-between;
    }
    &> div:nth-child(1) {
        display: none;
        @media (min-width: 415px) {
            display: inline;
            float: left;
            margin: 0;
            padding: 0 0 0 $space;
            font-size: 1.5rem;
            line-height: $block;
            font-weight: 400;
            color: $fg11;
        }
    }
    nav {
        padding: $space;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $space;
        align-items: initial;
        section {
                min-width: 9rem;
                justify-content: center;
                margin: 0;
                float: left;
                min-height: 4 * $space;
                display: flex;
                align-items: center;
                font-size: .8rem;
                color: $fg3;      
        }
    }
}
