@import '../../style/variables.scss';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $block;
	padding: 0;
    background-color: $bg5;
    z-index: 50;
    span {
        float: left;
        margin: 0;
        padding: 0 0 0 $space;
        font-size: 1.5rem;
        line-height: $block;
        font-weight: 400;
        color: #FFF;
    }
}
