@import './variables.scss';
@import './mixins.scss';

html, body {
    font-size: 16px;
	height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include snap-button;    
}

* {
	box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
}
a {
    color: $fg1;
    border-bottom: 1px solid $fg1;
    text-decoration: none;
    padding-bottom: 2px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    cursor: pointer;    
    font-size: 1rem;
}

h1 {
    font-size: 1.1rem;
    display: inline-block;
    margin: 0;
    color: $fg3;
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    display: inline-block;
    margin: 0;
}

h3 {
    font-size: .8rem;
    font-weight: 400;
    display: inline-block;
    margin: ($space * 2) 0 $space 0;
    color: $fg5;
    text-transform: uppercase;    
}

h4 {
    margin: 0 0 (.5 * $space) 0;
    font-weight: 500;
    font-size: .9rem;
}

h5 {
    margin: 0 $space $space 0;
    font-weight: 500;
    background-color: $bg2;
    padding: $space;
    color: $fg2;
}

input:focus {
    border-color: $fg3;
}

.home, .conjugations-container {
    @include display-wrap;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.main {
    margin-right: 4rem;
    @media (max-width: 600px) {
        width: 100%;
        margin: 0 $space;
    } 
}

.sidebar {
    margin: 0 6rem 0 0;
    &.disabled {
        pointer-events: none;
        opacity: .6;
    }
    & > div > ul, & > div > div {
        margin: 0 0 ($space * 2) 0;
    }
    & > div > ul > li {
        height: 4 * $space;
    }
}

button:disabled {
    pointer-events: none;
    opacity: .4;
}

.drills {
    .text-align.flex {
        margin: 0 0 (4 * $space) 0;
        justify-content: space-between;
        @media (max-width: 600px) {
            margin: (4 * $space) $space 0 $space;
            border-top: 1px dashed $fg6;
            padding-top: 2 * $space;
        }   
    }
    h2 {         
        button {
            font-weight: bold;
            color: $fg1;
            border-bottom: 1px solid $fg1;;
            text-decoration: none;
            padding-bottom: 2px;
            font-size: 1.25rem;
            border-radius: 0;
        }
        margin-bottom: 2 * $space;
    }
    .progress {
        margin-bottom: 2 * $space;
        span {
            font-size: 1.2rem;
            color: $fg4;
            font-weight: bold;
        }
        span:nth-child(2) {
            font-size: 1rem;
            margin: 0 (.5 * $space);
        }
        span:nth-child(4) {
            color: $fg1;
            margin-left: .5 * $space;
            font-size: 1rem;
            vertical-align: top;
            &:after {
                content:'\2713';
                vertical-align: top;
            }
        }
    }
    input {
        letter-spacing: .04rem;
    }
    .questions {
        label {
            display: inline-block;
            padding-right: $space;
        }
        input {
            @include outline;
            width: 9rem;
        }
        & > div {
            margin: $space 0;
            display: flex;
            align-items: center;
            & > div:first-child > div:first-child {
                width: 6rem;
                text-align: right;
            }
            & > div > div:nth-child(2) {
                width: 9rem;
            }
            & > div:nth-child(3) > div {
                text-align: left;
            }
        }
    }
    .answer { 
        visibility: hidden;
    }
    .is-correct {
        input {            
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 5px center;
        }
    }
    .is-incorrect {        
        .answer {
            visibility: visible;
            color: $fg1;
            margin-left: $space;
            border-bottom: 1px solid $fg1;
        }
    }
    .translation {
        margin-left: $space;
        font-style: italic;
        color: $fg8;
        border-bottom: none;
    }
    ul {
        li {
            font-size: 1.2rem;
            height: 4 * $space;         
        }
    }
    .keyboard-help {
        width: 100%;
        text-align: left;
        cursor: pointer;
        text-transform: initial;
        border: none;
        width: initial;
        background-color: transparent;
        margin-left: 0;
        padding-left: 0;
        &:focus {
            color: $fg4;
        }
        ul  {
            margin-top: $space;
            li {
                font-size: .8rem;
                color: $fg1;
            }
        }
        h4 {
            display: inline-block;
            margin: $space (.5 * $space) $space 0;
            border-bottom: 1px solid transparent;
            padding-bottom: 2px;     
        }        
        svg {
            width: 12px;
            transform: rotate(180deg);
        }  
        &.closed {
            ul {
                visibility: hidden;
            }
         h4 {
            border-bottom: 1px solid gray;
            padding-bottom: 2px;
         }
         svg {
             transform: initial;
         }
        }
        @media (hover: none){
            display: none;
        }
    }
}

ul.icons {    
    margin-top: .5rem; 
    text-align: left;
    button {
        font-size: 1rem;
    }
}

.relative-block {
    position: relative;
}

.block {
    min-height: $space * 3;
    &:empty {
        display: none;
    }
}

.header-block {
    display: flex;
    align-items: center;
    width: fit-content;
    min-height: $block;
    background-color: $bg2;
    padding: 0 (2 * $space);
    border: 1px solid lightgray;
    color: $fg6;
    margin: 4.5rem auto 0 auto;
    min-width: 18rem;
    display: flex;
    justify-content: center;
    @media (max-width: 600px) {
        margin: 7rem auto 0 auto;
    }
}

.hint { 
    color: gray;
    font-style: italic;
    font-size: .9rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type='checkbox'] {
    filter: invert(0%) grayscale(100%) brightness(1);
    width: 1rem !important;
    height: 1rem !important;
}

.button-link-action, .button-edit-action {    
    font-size: .9rem;
    border: none;
    text-decoration: none;
    background-color: transparent;    
    width: auto;
    padding: .5rem 0;
    outline: none !important;
    text-transform: initial;
    &:focus {
        border: none;
    }
    span {
        border-bottom: 1px solid lightgray;
        padding-bottom: 2px;
    }
    &[data-id='7'] {
        font-style: italic;
        font-size: .8rem;
    }
}

.button-edit-action {
    color: $fg1;
    &:before { content:'\2713'; }    
    &.disabled-item {
        color: gray;
    }
    &:focus{
        color:gray;        
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 1000px;
    margin: 1rem auto;
    padding: 0 0 0 .5rem;
    min-height: calc(100vh - 13.5rem);
    @media (max-width: 600px) {
        justify-content: center;
    }
}

.menu > div {
    width: 15.5rem;
    margin: (.5 * $space) 0;
    left: 0;
}

.action-button {
    margin-left: 6rem; text-align:left;
}

@media (max-width: 413px) {
    .drills .questions > div > div:first-child > div:first-child {
        width: 3rem;
    }
    .drills .is-incorrect > div:nth-child(2) {        
        font-size: .8rem;
    }
    .action-button {
        margin-left: 3rem;
    }
}

@media (max-width: 374px) {
    .menu > div {
        top: 65px;
        margin: (.5 * $space) 0;
    }
    .main, .sidebar {
        margin-right: 0;
    }
    .drills .questions > div {
        align-items: flex-start;
        flex-direction: column;
    }
    .drills .is-incorrect > div:nth-child(2) {        
        margin-left: 3rem;
        .answer {
            margin: 0;
        }
    }
}

@media (max-width: 600px) {
    .main {
        width: 100%;
        margin: 0 $space;
    }
    .sidebar {
        width: 100%;
        margin-right: 0;
    }
}

.margin-top {
    margin-top: $space;
}

.margin-right {
    margin-right: $space;
}

.margin-left {
    margin-left: $space;
}

.double-margin-right {
    margin-right: $space * 2;
}

.no-underlining {
    button { 
        span {
            border: none;
        }
    }
}

.text-align {
    text-align: left;
}

.conjugations-container {
    padding: 0 0 ($space * 2) 0;
    min-height: 36.5rem;
    section:nth-child(1) {
        width: 100%;
        justify-content: center;    
    }
}

.conjugations {
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 600px) {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 414px) {
        grid-template-columns: 1fr;
    }
    display: grid;
    margin-right: auto;
    margin-left: auto;
    h2 {
        margin-bottom: 4 * $space;
    }
    ul {
        margin-bottom: 2 * $space;
    }
    li {
        font-size: 1rem;
        pointer-events: none;
        span:nth-child(1) {
            width: 8 * $space;
            text-align: right;
            display: inline-block;
            color: $fg6;
            font-weight: 500;            
        }
    }
    .irregular {
        span {
            color: $fg1 !important;
            font-weight: 400 !important;
        }
    }
}

section.nav-block.inactive {    
    background-color: $bg5;
    cursor: pointer;
    button {
        color: $fg10;
    }
}

.standard-height {
    height: 4 * $space;
}

fieldset {
    border: none;
    padding-left: 0;
    ul:nth-child(1) {
        width: 100%;
        column-count: 2;
    }
    ul:nth-child(2) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2 * $space;
    }
}

.rb-list {
    height: 4 * $space;
    &.disabled {
        pointer-events: none;
        opacity: .3;
    }
    input {
        appearance: none;
        border-radius: 50%;
        transition: all .2s linear;
        margin: 0 $space 0 0;
        padding: 0;
        position: relative;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        border: .5rem solid $bg4;
        &:checked {
            border: .5em solid $bg8;
            background-color: $bg8;
        }
        &:focus {
            outline: none;
        }        
    }
    label {
        cursor: pointer;
        font-size: .9rem;
        color: $fg3;
        margin-right: $space;
    }
}

.half-hidden {
    display: none !important; 
}

.filter {
    input, label { cursor: pointer; }
    input[type=checkbox] {
        margin-bottom: 0;
        margin-left: 0;
    }
    font-size: .9rem;
}

select { 
    font-size: 12px;
}

.reload:after {
    content:'\27F3';
}

@media screen and (device-aspect-ratio: 40/71) {
    input[type="text"] { font-size: 16px; }
}