@import './variables.scss';
@import './mixins.scss';

html, body {
    font-size: 16px;
	height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include snap-button;    
}

* {
	box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
}
a {
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
    padding-bottom: 2px;
}

ul {
    margin: 0 0 1rem 0;
    padding: 0;
}

li {
    list-style-type: none;
    cursor: pointer;    
    font-size: 1rem;
}

h1 {
    font-size: 1.3rem;
    font-weight: 400;
    display: inline-block;
    margin: 0;
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    display: inline-block;
    margin: 0 0 1rem 0;
}

h3 {
    font-size: .8rem;
    font-weight: 400;
    display: inline-block;
    margin: 1rem 0 .5rem 0;
    color: rgb(108, 108, 108);
    text-transform: uppercase;    
}

h4 {
    margin: 0 0 .25rem 0;
    font-weight: 500;
    font-size: .9rem;
}

select, input {
    font-size: 12px;
}

.home {
    @include display-wrap;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.main {
    margin-right: 4rem;
}

.sidebar {
    margin: 0 6rem 0 0;
    &.disabled {
        pointer-events: none;
        opacity: .6;
    }
}

button:disabled {
    pointer-events: none;
}

.drills {
    h2 > span {
        border-bottom: 1px solid lightgray;
        font-weight: bold;
        color: black;
    }
    input {
        font-size: 1rem;
        letter-spacing: .04rem;
    }
    .questions {
        label {
            display: inline-block;
            padding-right: $space;
        }
        input {
            @include outline;
            width: 9rem;
        }
        & > div {
            margin: $space 0;
            display: flex;
            align-items: center;
            & > div:first-child > div:first-child {
                width: 6rem;
                text-align: right;
            }
            & > div > div:nth-child(2) {
                width: 9rem;
            }
            & > div:nth-child(3) > div {
                text-align: left;
            }
        }
    }
    .answer { 
        visibility: hidden;
    }
    .is-correct {
        input {            
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 5px center;
        }
    }
    .is-incorrect {        
        .answer {
            visibility: visible;
            color: black;
            margin-left: $space;
            border-bottom: 1px solid black;
        }
    }
    .translation {
        margin-left: $space;
        font-style: italic;
        color: darkgray;
        border-bottom: none;
    }
    ul {
        li {
            font-size: 1.2rem;            
        }
    }
    .keyboard-help {
        width: 100%;
        text-align: left;
        cursor: pointer;
        text-transform: initial;
        border: none;
        width: initial;
        background-color: transparent;
        margin-left: 0;
        padding-left: 0;
        &:focus {
            color: rgb(80,80,80);
        }
        ul  {
            li {
                font-size: .8rem;
                color: black;
            }
        }
        h4 {
            display: inline-block;
            margin-right: .5 * $space;
            border-bottom: 1px solid transparent;
            padding-bottom: 2px;            
        }        
        svg {
            width: 12px;
            transform: rotate(180deg);
        }  
        &.closed {
            ul {
                visibility: hidden;
            }
         h4 {
            border-bottom: 1px solid gray;
            padding-bottom: 2px;
         }
         svg {
             transform: initial;
         }
        }
        @media (hover: none){
            display: none;
        }
    }
}

ul.icons {    
    margin-top: .5rem; 
    text-align: left;
    button {
        font-size: 1rem;
    }
}

.relative-block {
    position: relative;
}

.block {
    min-height: $space * 3;
    &:empty {
        display: none;
    }
}

.banner-block {
    display: flex;
    align-items: center;
    width: fit-content;
    min-height: $block;
    background-color: #d3d3d329;
    padding: 0 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid lightgray;
    color: rgb(115,115,115);
    margin: 4.5rem auto 0 auto;
}

.hint { 
    color: gray;
    font-style: italic;
    font-size: .9rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type='checkbox'] {
    filter: invert(0%) grayscale(100%) brightness(1);
    width: 1rem !important;
    height: 1rem !important;
}

.button-link-action, .button-edit-action {    
    font-size: .8rem;
    border: none;
    text-decoration: none;
    background-color: transparent;    
    width: auto;
    padding: .5rem 0;
    outline: none !important;
    text-transform: initial;
    &:focus {
        border: none;
    }
    span {
        border-bottom: 1px solid lightgray;
        padding-bottom: 2px;
    }
}

.button-edit-action {
    color: black;
    &:before { content:'\2713'; }    
    &.disabled-item {
        color: gray;
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 1000px;
    margin: 2rem auto;
    padding: 0 0 0 .5rem;
    min-height: calc(100vh - 15.5rem);
}

.menu > div {
    width: 15.5rem;
    margin: (.5 * $space) $space;
}

.action-button {
    margin-left: 6rem; text-align:left;
}

@media (max-width: 413px) {
    .drills .questions > div > div:first-child > div:first-child {
        width: 3rem;
    }
    .drills .is-incorrect > div:nth-child(2) {        
        font-size: .8rem;
    }
    .action-button {
        margin-left: 3rem;
    }
}

@media (max-width: 374px) {
    .menu > div {
        top: 65px;
        margin: (.5 * $space) $space;
    }
    .main, .sidebar {
        margin-right: 0;
    }
    .drills .questions > div {
        align-items: flex-start;
        flex-direction: column;
    }
    .drills .is-incorrect > div:nth-child(2) {        
        margin-left: 3rem;
        .answer {
            margin: 0;
        }
    }
}

.margin-top {
    margin-top: $space;
}

.margin-right {
    margin-right: $space;
}

.double-margin-right {
    margin-right: $space * 2;
}

.no-underlining {
    button { 
        span {
            border: none;
        }
    }
}

.text-align {
    text-align: left;
}