@mixin display-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin outline {
    padding: $space (2 * $space);
    border-radius: (.5 * $space);
    outline: 3px solid transparent;
    border: 1px solid darkgray;
    &:focus {
        // border: 1px solid rgb(89, 173, 201);
        // outline: 0;
        outline: 3px solid rgb(125, 174, 219);
        border: 1px solid transparent;
    }
}

@mixin snap-button {
    button {
        padding: $space;
        cursor: pointer;
        font-size: .8em;
        color: rgb(80, 80, 80);
        @include outline;
        text-transform: capitalize;
        width: 9rem;
    }
}