@mixin display-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin outline {
    padding: $space (2 * $space);
    border-radius: (.5 * $space);
    outline: 3px solid transparent;
    border: 1px solid darkgray;
    &:focus {
        outline: 3px solid black;
        color: black;
        border: 1px solid transparent;
    }
}

@mixin snap-button {
    button {
        padding: $space;
        cursor: pointer;
        font-size: .8rem;
        color: rgb(80, 80, 80);
        @include outline;
        text-transform: capitalize;
        width: 9rem;
    }
}