@mixin display-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin outline {
    padding: $space (2 * $space);
    border-radius: (.5 * $space);
    // outline: 3px solid transparent;
    border: 3px solid darkgray;
    &:focus {
        outline: none;
        color: black;
        border: 3px solid black;
    }
}

@mixin snap-button {
    button {
        padding: $space;
        cursor: pointer;
        font-size: .7rem;
        color: rgb(80, 80, 80);
        @include outline;
        text-transform: uppercase;
        width: 9rem;
    }
}