$space: .5rem;
$border: rgb(185, 185, 185);
$block: 50px;

$bg1: rgb(255, 255, 255);
$bg2: rgb(245, 245, 245);
$bg3: rgb(215, 215, 215);
$bg4: rgb(185, 185, 185);
$bg5: rgb(125, 125, 125);

$break: 374px;
// $break: 414px;