@import '../../style/variables.scss';

.footer {
    height: $block;
    background-color: lightgray;
    width: 100%;
    color: black;
    div {
        height: inherit;
        margin: 0 $space;
        font-size: .7rem;
        justify-content: space-between;
        a {
            color: black;
        }
    }
}