@import '../../style/variables.scss';

.navBlockActive, .navBlockInactive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-height: $block;
    background-color: $bg2;
    border: 1px solid lightgray;
    color: $fg6;
    & button {
        width: 100%;
    }
}

.navBlockInactive {
    background-color: $bg6;
    cursor: pointer;
    button {
        color: $fg11;
    }
}

.navList {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    li {
        min-height: initial;
    }
}