<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		<meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        
        <meta name="description" content="Learn The Verb - Portuguese">
        <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/50540494506_b25446840c_c.jpg">
        <meta name="description" property="og:description" contents="Learn The Verb | Portuguese">
        <meta name="author" content="Daniel Hartley">

		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
        <% preact.headEnd %>
        
        <meta name="release" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.release %>">

	</head>
	<body>

		<% preact.bodyEnd %>
	</body>
</html>
